.main {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 10; 
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.main::-webkit-scrollbar{
  display:none;
}
/*-------------- Section 0 ----------------------------------------------------------------------------------------------------------------------------------*/

.section0{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  scroll-snap-align: center;
}
.module00{
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.module0A{
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.presentation{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  width: 85%;
  height: 80%;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
  line-height: 2.4rem;
  border-top: 3px solid var(--line-color);
  border-bottom: 3px solid var(--line-color);
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  border-style: double;
  overflow-y: hidden;
}
.module0B{
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--line-color);
  border-style: double;
  border-radius: 20px;
  backdrop-filter: blur(50px);
}
.tittle0Cont{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tCont{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.tittle0{
  font-size: 5rem;
  width: 100%;
  text-align: center;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
.icon0{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
}
.icon0 img{
  height: 20%;
  width: auto;
}
.button0Cont{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.button0{
  font-size: 1.2rem;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(172, 128, 103, 0.7);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  font-weight: 600;
}
.button0:hover{
  background-color: rgb(172, 128, 103);
  width: 240px;
  color: rgb(150, 50, 0);
}
.desc2Cont{
  scale: 0;
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation2{
  scale: 0;
  width: 80%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topBar{
  width: 100%;
  height: 5vh;
}
.bottomBar{
  width: 100%;
  height: 5vh;
}
/*-------------- Section 1 ----------------------------------------------------------------------------------------------------------------------------------*/

.section1{
  flex: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  scroll-snap-align: center;
}
.section1Cont{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tittle1Cont{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}
.tittle1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button1{
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  background: linear-gradient(315deg, rgba(172, 128, 103, 0.7) 80%, transparent 20%);
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
  font-weight: 600;
  border-right: 1px solid rgba(82, 26, 0, 0.2);
}
.button1:hover{
  width: 240px;
  color: rgb(150, 50, 0);
  background: linear-gradient(315deg, rgb(172, 128, 103) 80%, transparent 20%);
}
.panel1{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid var(--line-color);
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid var(--line-color);
  border-style: double;
}
.module1A{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: all ease-in-out 0.3s;
}

.tittle1A{
  width: 80%;
  height: auto;
  font-size: 1.4rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  display: flex;
}
.module1A img{
  width: 80%;
  height: auto;
  border-radius: 10px;
}
.module1A p{
  width: 80%;
  height: 30%;
  font-size: 1.2rem;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  text-align: center;
}

/*-------------- Section 2 ----------------------------------------------------------------------------------------------------------------------------------*/

.section2{
  flex: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  scroll-snap-align: center;
}
.section2Cont{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tittle2{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 600;
}
.panel2{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.article2{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.article2 img{
  height: 70%;
  width: auto;
  filter: drop-shadow(0 0 6px rgb(216, 86, 0));
}
.article2 p{
  height: 70%;
  width: 70%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.button2Cont{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button2{
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(172, 128, 103, 0.6);
  border-radius: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border: 1px solid rgba(82, 26, 0, 0.2);
  font-weight: 600;
}
.button2:hover{
  width: 240px;
  background-color: rgb(172, 128, 103);
  color: rgb(150, 50, 0);
}

/*-------------- Section 3 ----------------------------------------------------------------------------------------------------------------------------------*/

.section3{
  flex: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: bisque;
  scroll-snap-align: center;
}
.section3Cont{
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tittle3{
  font-size: 2.4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}
.panel3{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.module3A{
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fondo3Cont{
  width: 80%;
  height: auto;
  overflow: hidden;
}
.carrucel{
  width: 500%;
  position: relative;
  height: 100%;
  display: flex;
  animation: slider 20s infinite ease-out;
}
@keyframes slider {
  0%{
      left: 0;
  }
  20%{
      left: 0;
  }
  25%{
      left: -100%;
  }
  45%{
      left: -100%;
  }
  50%{
      left: -200%;
  }
  70%{
      left: -200%;
  }
  75%{
      left: -300%;
  }
  95%{
      left: -300%;
  }
  100%{
      left: -400%;
  }
}
.img3ContA{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img3ContB, .img3ContC, .img3ContD, .img3ContE{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img3A, .img3B, .img3C, .img3D, .img3E{
  width: 95%;
  height: 95%;  
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.button3Cont{
  width: 80%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button3{
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(172, 128, 103, 0.7);
  border-radius: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border: 1px solid rgba(82, 26, 0, 0.2);
  font-weight: 600;
}
.button3:hover{
  width: 240px;
  background-color: rgb(172, 128, 103);
  color: rgb(150, 50, 0);
}
.module3B{
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.module3B p{
  height: 100%;
  width: 80%;
  text-align: left;
  font-size: 1.8rem;
  line-height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.img3A{
  animation: mov1 20s infinite ease-out;
}
.img3B{
  animation: mov2 20s infinite ease-out;
}
.img3C{
  animation: mov3 20s infinite ease-out;
}
.img3D{
  animation: mov4 20s infinite ease-out;
}
.img3E{
  animation: mov5 20s infinite ease-out;
}
@keyframes mov1 {
  0%{
      opacity: 1;
      width: 95%;
      height: 95%;
  }
  20%{
      opacity: 1;
      width: 95%;
      height: 95%;
  }
  25%{
      opacity: 0;
      width: 50%;
      height: 50%;
  }
  100%{
      opacity: 0;
      width: 50%;
      height: 50%;
  }    
}
@keyframes mov2{
  0%{
      opacity: 0;
      width: 50%;
      height: 50%;
  }
  20%{
      opacity: 0;
      width: 50%;
      height: 50%;
  }
  25%{
      opacity: 1;
      width: 95%;
      height: 95%;
  }
  45%{
      opacity: 1;
      width: 95%;
      height: 95%;
  }
  50%{
      opacity: 0;
      width: 50%;
      height: 50%;
  }
}
@keyframes mov3{
  0%{
      opacity: 0;
      width: 50%;
      height: 50%;
  }
  45%{
      opacity: 0;
      width: 50%;
      height: 50%;
  }
  50%{
      opacity: 1;
      width: 95%;
      height: 95%;
  }
  70%{
      opacity: 1;
      width: 95%;
      height: 95%;
  }
  75%{
      opacity: 0;
      width: 50%;
      height: 50%;
  }
}
@keyframes mov4{
  0%{
      opacity: 0;
      width: 50%;
      height: 50%;
  }
  70%{
      opacity: 0;
      width: 50%;
      height: 50%;
  }
  75%{
      opacity: 1;
      width: 95%;
      height: 95%;
  }
  95%{
      opacity: 1;
      width: 95%;
      height: 95%;
  }
  100%{
      opacity: 0;
      width: 50%;
      height: 50%;
  }
}
@keyframes mov5{
  0%{
      opacity: 0;
      width: 50%;
      height: 50%;
  }
  95%{
      opacity: 0;
      width: 50%;
      height: 50%;
  }
  100%{
      opacity: 1;
      width: 95%;
      height: 95%;
  }
}
/*-------------- Footer ------------------------------------------------------------------------------------------------------------------------------------*/

.footer{
  flex: 1;
  position: relative;
  height: 12vh;
  width: 100%;
  background-color: rgb(172, 128, 103);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}
.footerCont{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoF {
  height: 50%;
  width: auto;
}
.logomF {
  height: 30%;
  width: auto;
}
.wLink{
  font-size: 1rem;
  transition: all ease-in-out 0.3s;
}
.wLink:hover{
  color: rgb(150, 50, 0);
}

@media screen and (width < 1600px){
  .tittle0{
    font-size: 3rem;
  }
  .module1A p{
    font-size: 1rem;
  }
  .tittle1A{
    font-size: 1.2rem;
  }
  .presentation{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
  }
  .module3B p{
    height: 100%;
    width: 80%;
    text-align: left;
    font-size: 1.4rem;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (width < 800px){
  .article2{
    gap: 10px;
  }
  .article2 p{
    font-size: 1rem;
  }
  .article2 img{
    height: 30%;
  }
}
@media screen and (aspect-ratio < 1){
  .module0A{
    scale: 0;
    width: 0;
  }
  .tittle0{
    font-size: 2.8rem;
  }
  .module0B{
    width: 70%;
  }
  .tCont{
    height: 15%;
  }
  .icon0{
    height: 10%;
  }
  .button0Cont{
    height: 10%;
    font-size: 1rem;
  }
  .button0{
    font-size: 1rem;
    width: 150px;
    height: 30px;
    font-weight: 400;
  }
  .button0:hover{
    width: 180px;
  }
  .desc2Cont{
    scale: 1;
    width: 100%;
    height: 45%;
  }
  .presentation2{
    scale: 1;
    width: 90%;
    height: auto;
    font-size: 1.2rem;
  }

  .button1{
    width: 100px;
    height: 30px;
    font-size: 0.8rem;
    font-weight: 600;
    border-right: 1px solid rgba(82, 26, 0, 0.2);
  }
  .button1:hover{
    width: 120px;
  }
  .panel1{
    flex-direction: column;
  }
  .module1A{
    width: 100%;
    height: 30%;
    flex-direction: row;
  }
  .tittle1A{
    scale: 0;
    width: 0%;
    height: 0;
  }
  .module1A img{
    width: auto;
    height: 30%;
  }
  .module1A p{
    width: auto;
    height: 80%;
    align-items: center;
    font-size: 0.8rem;
  }

  .panel3{
    flex-direction: column;
  }
  .module3A{
    width: 100%;
    height: 40%;
    display: flex;
  }
  .module3B{
    width: 100%;
    height: 40%;
  }
  .module3B p{
    height: 100%;
    width: 80%;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tittle3{
    font-size: 2rem;
    text-align: center;
  }
  .button3{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-size: 0.8rem;
  }
  .button3:hover{
    width: 120px;
  }
}
@media screen and (width < 600px){
  .tittle0{
    font-size: 2rem;
  }
  .presentation2{
    font-size: 0.9rem;
  }
  .tittle2{
    font-size: 2rem;
  }
  .button2{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: 600;
  }
  .button2:hover{
    width: 120px;
  }
  .button0{
    font-size: 0.8rem;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-weight: 600;
  }
  .button0:hover{
    width: 120px;
  }
}
@media screen and (width < 380px){
  .presentation2{
    font-size: 0.8rem;
  }
  .article2 p{
    font-size: 0.8rem;
  }
}